@font-face {
  font-family: "iconfont"; /* Project id 3176408 */
  src: url('//at.alicdn.com/t/font_3176408_hbmfk2hgdaq.woff2?t=1644563133575') format('woff2'),
       url('//at.alicdn.com/t/font_3176408_hbmfk2hgdaq.woff?t=1644563133575') format('woff'),
       url('//at.alicdn.com/t/font_3176408_hbmfk2hgdaq.ttf?t=1644563133575') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-juejin:before {
    content: "\e74a";
    color: #3F7EF7;
  }

  .icon-rss:before {
    content: "\ea03";
    color: #DF8643;
  }

  .icon-telegram:before {
    content: "\e60f";
    color: #4594D5;
  }
  
  .icon-email:before {
    content: "\e649";
    color: #54B3F0;
  }
  
  .icon-weibo:before {
    content: "\e666";
    color: #D4382A;
  }
  
  .icon-haiyang:before {
    content: "\e60c";
  }
  
  .icon-QQ:before {
    content: "\e882";
    color: #6DB1EA;

  }
  
  .icon-wechat:before {
    content: "\e60e";
    color: #72BC73;

  }
  
  .icon-github:before {
    content: "\e8c6";
    color: #000000;

  }
  
  .icon-wangyiyunyinle:before {
    content: "\e675";
    color: #CB2B29;

  }
  
  .icon-bilibili:before {
    content: "\e609";
    color: #54ADDE;

  }
  
  .icon-gitee:before {
    content: "\e60d";
    color: #B7312D;

  }
  